.halaman-utama-after-login .logo {
  margin: 0 163.1px 240px 0;
  width: 88.4px;
  height: 56px;
}
.halaman-utama-after-login .let-journey-begin-with-gilijet {
  margin: 160px 62.5px 0 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 70px;
  line-height: 0.977;
  color: #FFFFFF;
}
.halaman-utama-after-login .hello-irfan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.hello-irfan {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.halaman-utama-after-login .frame-1 {
  border-radius: 25px;
  margin: 7px 29.2px 7px 0;
  display: flex;
  box-sizing: border-box;
}
.halaman-utama-after-login .profile-circle {
  width: 24px;
  height: 24px;
}
.halaman-utama-after-login .frame-2 {
  border-radius: 25px;
  background: #103BE9;
  display: flex;
  padding: 7px 15px;
  width: 54px;
  height: 38px;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-84 {
  border-radius: 25px;
  margin: 9px 0 249px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-2 {
  background: url('../assets/images/rectangle_8.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 178px;
  display: flex;
  flex-direction: row;
  padding: 29px 0 325px 0;
  width: 1440px;
  box-sizing: border-box;
}
.halaman-utama-after-login .boat-trip-list {
  margin: 12px 15px 18px 0;
  display: inline-block;
  width: 159px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}
.halaman-utama-after-login .exclude {
  width: 20px;
  height: 20px;
}
.halaman-utama-after-login .close {
  margin: 2px 9px 2px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .change-trip {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .frame-45 {
  border-radius: 44.1px;
  background: #F2F2F2;
  display: flex;
  flex-direction: row;
  padding: 18px 0;
  width: 212px;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-14 {
  border-radius: 44.1px;
  margin: 0 1px 16px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1114px;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-99 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_1242.png') 50% / cover no-repeat;
  margin-right: 33px;
  width: 200px;
  height: 250px;
}
.halaman-utama-after-login .departure-tue-10-oct-23 {
  margin-bottom: 37px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .container {
  margin: 0 14px 18px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .pelabuhan-ketapang-kt-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-9 {
  margin-right: 23.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-2 {
  background: #BDBDBD;
  margin: 54px 32.8px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .layer-15 {
  width: 83.5px;
  height: 26.3px;
}
.halaman-utama-after-login .boat-icon-24-px-1 {
  margin-bottom: 23px;
  display: flex;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
}
.halaman-utama-after-login .m {
  margin: 0 19.5px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-11 {
  margin: 34.8px 31.8px 24px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-3 {
  background: #BDBDBD;
  margin: 54px 23.2px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .container-1 {
  margin: 0 7px 18px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .gilimanuk-gm-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-10 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-12 {
  margin-left: 1.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-1 {
  margin: 31px 36.2px 26px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-4 {
  opacity: 0.1;
  mix-blend-mode: multiply;
  position: absolute;
  top: 95.5px;
  right: -5px;
  width: 193px;
  height: 159.5px;
}
.halaman-utama-after-login .objects {
  position: absolute;
  top: -1.3px;
  right: -3.3px;
  width: 44.3px;
  height: 33.7px;
}
.halaman-utama-after-login .frame {
  position: relative;
  margin-right: 10px;
  width: 41px;
  height: 37.6px;
}
.halaman-utama-after-login .gilijet-express {
  margin: 7px 0 6.6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .group-37 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin: 0 23px 22px 29px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8.4px 21px;
  width: 240px;
  box-sizing: border-box;
}
.halaman-utama-after-login .idr-215000-pax {
  position: relative;
  margin: 0 0 16px 4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.idr-215000-pax {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #103BE9;
}
.halaman-utama-after-login .choose {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.halaman-utama-after-login .frame-4 {
  border-radius: 44.1px;
  background: #103BE9;
  position: relative;
  margin: 0 0 26px 4px;
  display: flex;
  padding: 25px 0.7px 25px 0;
  width: 212px;
  box-sizing: border-box;
}
.halaman-utama-after-login .mask-group-1 {
  border-radius: 10px;
  background: #E1E7FF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-13 {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 10px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-992 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_991.png') 50% / cover no-repeat;
  margin-right: 33px;
  width: 200px;
  height: 250px;
}
.halaman-utama-after-login .departure-tue-10-oct-232 {
  margin-bottom: 37px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .container-4 {
  margin: 0 15.1px 18px 2.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .pelabuhan-ketapang-kt-3 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-92 {
  margin-right: 23.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-22 {
  background: #BDBDBD;
  margin: 54px 32.8px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .layer-17 {
  width: 83.5px;
  height: 26.3px;
}
.halaman-utama-after-login .boat-icon-24-px-3 {
  margin-bottom: 23px;
  display: flex;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
}
.halaman-utama-after-login .m-2 {
  margin-left: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-112 {
  margin: 34.8px 31.8px 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-32 {
  background: #BDBDBD;
  margin: 54px 23.2px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .container-5 {
  margin: 0 9px 18px 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .gilimanuk-gm-3 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-102 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-122 {
  margin-left: 1.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-22 {
  margin: 31px 36.2px 26px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-42 {
  opacity: 0.1;
  mix-blend-mode: multiply;
  position: absolute;
  top: 95.5px;
  right: -5px;
  width: 193px;
  height: 159.5px;
}
.halaman-utama-after-login .objects-2 {
  width: 41px;
  height: 31.6px;
}
.halaman-utama-after-login .frame-2 {
  margin-right: 7px;
  display: flex;
  width: 41px;
  height: 31.6px;
  box-sizing: border-box;
}
.halaman-utama-after-login .gili-gili-fast-boat {
  margin: 3.5px 0 4.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .group-372 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin: 0 23px 22px 29px;
  display: flex;
  flex-direction: row;
  padding: 11.5px 18px 10.9px 17px;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .idr-155000-pax {
  position: relative;
  margin: 0 0 16px 4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.idr-155000-pax {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #103BE9;
}
.halaman-utama-after-login .choose-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.halaman-utama-after-login .frame-42 {
  border-radius: 44.1px;
  background: #103BE9;
  position: relative;
  margin: 0 0 26px 4px;
  display: flex;
  padding: 25px 0.7px 25px 0;
  width: 212px;
  box-sizing: border-box;
}
.halaman-utama-after-login .mask-group-3 {
  border-radius: 10px;
  background: #E1E7FF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-19 {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 10px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-991 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_1242.png') 50% / cover no-repeat;
  margin-right: 33px;
  width: 200px;
  height: 250px;
}
.halaman-utama-after-login .departure-tue-10-oct-231 {
  margin-bottom: 37px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .container-2 {
  margin: 0 14.9px 18px 1.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .pelabuhan-ketapang-kt-2 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-91 {
  margin-right: 23.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-21 {
  background: #BDBDBD;
  margin: 54px 32.8px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .layer-16 {
  width: 83.5px;
  height: 26.3px;
}
.halaman-utama-after-login .boat-icon-24-px-2 {
  margin-bottom: 23px;
  display: flex;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
}
.halaman-utama-after-login .m-1 {
  margin: 0 19.5px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-111 {
  margin: 34.8px 31.8px 24px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-31 {
  background: #BDBDBD;
  margin: 54px 23.2px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .container-3 {
  margin: 0 10.9px 18px 12.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .gilimanuk-gm-2 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-101 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-121 {
  margin-left: 1.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-18 {
  margin: 31px 36.2px 26px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-41 {
  opacity: 0.1;
  mix-blend-mode: multiply;
  position: absolute;
  top: 95.5px;
  right: -5px;
  width: 193px;
  height: 159.5px;
}
.halaman-utama-after-login .objects-1 {
  position: absolute;
  top: -1.3px;
  right: -3.3px;
  width: 44.3px;
  height: 33.7px;
}
.halaman-utama-after-login .frame-1 {
  position: relative;
  margin-right: 10px;
  width: 41px;
  height: 37.6px;
}
.halaman-utama-after-login .gilijet-express-1 {
  margin: 7px 0 6.6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .group-371 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin: 0 23px 22px 29px;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8.4px 21px;
  width: 240px;
  box-sizing: border-box;
}
.halaman-utama-after-login .idr-215000-pax-1 {
  position: relative;
  margin: 0 0 16px 4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.idr-215000-pax-1 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #103BE9;
}
.halaman-utama-after-login .choose-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.halaman-utama-after-login .frame-41 {
  border-radius: 44.1px;
  background: #103BE9;
  position: relative;
  margin: 0 0 26px 4px;
  display: flex;
  padding: 25px 0.7px 25px 0;
  width: 212px;
  box-sizing: border-box;
}
.halaman-utama-after-login .mask-group-2 {
  border-radius: 10px;
  background: #E1E7FF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-20 {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 10px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-993 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_991.png') 50% / cover no-repeat;
  margin-right: 33px;
  width: 200px;
  height: 250px;
}
.halaman-utama-after-login .departure-tue-10-oct-233 {
  margin-bottom: 37px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .container-6 {
  margin: 0 15px 18px 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .pelabuhan-ketapang-kt-4 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-93 {
  margin-right: 23.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-23 {
  background: #BDBDBD;
  margin: 54px 32.8px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .layer-18 {
  width: 83.5px;
  height: 26.3px;
}
.halaman-utama-after-login .boat-icon-24-px-4 {
  margin-bottom: 23px;
  display: flex;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
}
.halaman-utama-after-login .m-3 {
  margin-left: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-113 {
  margin: 34.8px 31.8px 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-33 {
  background: #BDBDBD;
  margin: 54px 23.2px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .container-7 {
  margin: 0 8.2px 18px 9.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .gilimanuk-gm-4 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-103 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-123 {
  margin-left: 1.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-23 {
  margin: 31px 36.2px 26px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-43 {
  opacity: 0.1;
  mix-blend-mode: multiply;
  position: absolute;
  top: 95.5px;
  right: -5px;
  width: 193px;
  height: 159.5px;
}
.halaman-utama-after-login .objects-3 {
  width: 41px;
  height: 31.6px;
}
.halaman-utama-after-login .frame-3 {
  margin-right: 7px;
  display: flex;
  width: 41px;
  height: 31.6px;
  box-sizing: border-box;
}
.halaman-utama-after-login .gili-gili-fast-boat-1 {
  margin: 3.5px 0 4.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .group-373 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin: 0 23px 22px 29px;
  display: flex;
  flex-direction: row;
  padding: 11.5px 18px 10.9px 17px;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .idr-155000-pax-1 {
  position: relative;
  margin: 0 0 16px 4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.idr-155000-pax-1 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #103BE9;
}
.halaman-utama-after-login .choose-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.halaman-utama-after-login .frame-43 {
  border-radius: 44.1px;
  background: #103BE9;
  position: relative;
  margin: 0 0 26px 4px;
  display: flex;
  padding: 25px 0.7px 25px 0;
  width: 212px;
  box-sizing: border-box;
}
.halaman-utama-after-login .mask-group-4 {
  border-radius: 10px;
  background: #E1E7FF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-21 {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 10px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-994 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_99.png') 50% / cover no-repeat;
  margin-right: 33px;
  width: 200px;
  height: 250px;
}
.halaman-utama-after-login .departure-tue-10-oct-234 {
  margin-bottom: 37px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .container-8 {
  margin: 0 15px 18px 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .pelabuhan-ketapang-kt-5 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-94 {
  margin-right: 23.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-24 {
  background: #BDBDBD;
  margin: 54px 32.8px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .layer-19 {
  width: 83.5px;
  height: 26.3px;
}
.halaman-utama-after-login .boat-icon-24-px-5 {
  margin-bottom: 23px;
  display: flex;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
}
.halaman-utama-after-login .m-4 {
  margin-left: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-114 {
  margin: 34.8px 31.8px 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-34 {
  background: #BDBDBD;
  margin: 54px 23.2px 76px 0;
  width: 70px;
  height: 0px;
}
.halaman-utama-after-login .container-9 {
  margin: 0 8.2px 18px 9.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}
.halaman-utama-after-login .gilimanuk-gm-5 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-104 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-124 {
  margin-left: 1.2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-16 {
  margin: 31px 36.2px 26px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-44 {
  opacity: 0.1;
  mix-blend-mode: multiply;
  position: absolute;
  top: 95.5px;
  right: -5px;
  width: 193px;
  height: 159.5px;
}
.halaman-utama-after-login .objects-4 {
  width: 37.4px;
  height: 38px;
}
.halaman-utama-after-login .frame-4 {
  margin-right: 9px;
  display: flex;
  width: 37.4px;
  height: 38px;
  box-sizing: border-box;
}
.halaman-utama-after-login .gilijet-tour {
  margin: 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.halaman-utama-after-login .group-374 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin: 0 23px 22px 29px;
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  width: 240px;
  box-sizing: border-box;
}
.idr-165000-pax {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #103BE9;
}
.halaman-utama-after-login .idr-165000-pax {
  position: relative;
  margin: 0 0 16px 5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.halaman-utama-after-login .choose-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.halaman-utama-after-login .frame-44 {
  border-radius: 44.1px;
  background: #103BE9;
  position: relative;
  margin: 0 0 26px 4px;
  display: flex;
  padding: 25px 0.7px 25px 0;
  width: 212px;
  box-sizing: border-box;
}
.halaman-utama-after-login .mask-group-5 {
  border-radius: 10px;
  background: #E1E7FF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 292px;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-22 {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 39px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .chevrons-right-alt {
  margin-right: 7px;
  width: 24px;
  height: 24px;
}
.halaman-utama-after-login .load-more {
  margin-top: 0px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .frame-46 {
  border-radius: 44.1px;
  background: #F2F2F2;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  padding: 18px 0;
  width: 194px;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-26 {
  margin: 0 0 35px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .article-and-blog {
  margin-right: 15px;
  width: 193px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}
.halaman-utama-after-login .more-article {
  margin-top: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .container-7 {
  margin: 0 49.7px 41px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1065.3px;
  box-sizing: border-box;
}
.halaman-utama-after-login .ubud {
  opacity: 0.8;
  mix-blend-mode: hard-light;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 69.5px;
  color: #FFFFFF;
}
.halaman-utama-after-login .container-14 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_13.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 14px;
  display: flex;
  padding: 58px 1.2px 58px 0;
  width: 268px;
  box-sizing: border-box;
}
.halaman-utama-after-login .balis-cultural-center-blend-of-art-spirituality-lifestyle-culinary-delights {
  margin: 0 19.7px 0 14px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.halaman-utama-after-login .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .oct-102023 {
  position: absolute;
  left: 14px;
  bottom: 18px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-201 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding-bottom: 32px;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-131 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_133.png') 50% / cover no-repeat;
  margin-bottom: 14px;
  width: 268px;
  height: 200px;
}
.halaman-utama-after-login .international-5-star-resorts-and-golf-courses-for-the-luxury-traveler {
  margin: 0 21.9px 18px 14px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.halaman-utama-after-login .oct-1020231 {
  margin: 0 14px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-211 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-132 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_132.png') 50% / cover no-repeat;
  margin-bottom: 14px;
  width: 268px;
  height: 200px;
}
.halaman-utama-after-login .mountain-area-with-an-iconic-water-temple-three-lakes {
  margin: 0 14px 18px 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.halaman-utama-after-login .oct-1020232 {
  margin: 0 14px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-221 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  box-sizing: border-box;
}
.halaman-utama-after-login .kuta {
  opacity: 0.8;
  mix-blend-mode: hard-light;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 69.5px;
  color: #FFFFFF;
}
.halaman-utama-after-login .container-20 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_131.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 14px;
  display: flex;
  padding: 58px 11px 58px 0;
  width: 268px;
  box-sizing: border-box;
}
.halaman-utama-after-login .balis-party-place-for-the-young-and-wild {
  margin: 0 14px 40px 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.halaman-utama-after-login .oct-1020233 {
  margin: 0 14px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-23 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-5 {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-24 {
  border-radius: 10px;
  margin: 0 0 55px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .why-should-you-use-our-services {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 70px;
  line-height: 0.977;
  color: #FFFFFF;
}
.halaman-utama-after-login .container-12 {
  background: #103BE9;
  position: relative;
  display: flex;
  padding: 229px 41.8px 265px 41.8px;
  width: 621px;
  box-sizing: border-box;
}
.halaman-utama-after-login .layer-1 {
  margin: 0 0.8px 22.8px 0;
  width: 139.2px;
  height: 139.2px;
}
.halaman-utama-after-login .best-price-guaranty {
  margin: 0 8.4px 9px 8.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
.halaman-utama-after-login .we-know-how-to-travel-on-the-cheap-we-partner-with-awide-of-boats {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-28 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-29 {
  margin: 0 87.9px 54px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .layer-12 {
  margin: 0 0 22.8px 1.2px;
  width: 139.2px;
  height: 139.2px;
}
.halaman-utama-after-login .save-and-secure {
  margin: 0 0 9px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
.halaman-utama-after-login .our-website-and-payment-get-way-is-trusted-with-security-certificate-giving-with-customers-confidence-they-are {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-282 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-30 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-19 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .layer-11 {
  margin: 0 0.8px 22.8px 0;
  width: 139.2px;
  height: 139.2px;
}
.halaman-utama-after-login .best-travel-agent {
  margin: 0 12.7px 9px 13.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
.halaman-utama-after-login .we-provide-best-traveling-services-for-our-beloved-customers {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-281 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-31 {
  margin: 0 7.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .layer-13 {
  margin: 0 0.8px 29.8px 0;
  width: 139.2px;
  height: 139.2px;
}
.halaman-utama-after-login .customer-support {
  margin: 0 18.9px 9px 18.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
.halaman-utama-after-login .we-have-24-hours-customer-support-to-make-ensure-that-your-transaction-and-traveling-is-filled-with-joy {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .group-283 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-32 {
  position: absolute;
  right: 136.4px;
  bottom: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-21 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 49px 10.5px 79px 0;
  width: 818px;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-27 {
  margin: 0 1px 55px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-171 {
  mix-blend-mode: multiply;
  border-radius: 10px;
  background: linear-gradient(97.31deg, #103BE9 0.5%, rgba(16, 59, 233, 0) 77.7%);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1115px;
  height: 362px;
}
.halaman-utama-after-login .never-miss-our-offer {
  position: relative;
  margin-bottom: 17px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 40px;
  line-height: 0.977;
  color: #FFFFFF;
}
.halaman-utama-after-login .subscribe-and-be-the-first-to-receive-our-exclusive-offers {
  position: relative;
  margin-bottom: 17px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 0.977;
  color: #FFFFFF;
}
.halaman-utama-after-login .enter-your-email-here {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 0.977;
  color: var(--gray-5, #E0E0E0);
}
.halaman-utama-after-login .group-35 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 22px;
  align-self: flex-start;
  padding: 20px 16px 19px 16px;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .check-square {
  margin-right: 9px;
  width: 24px;
  height: 24px;
}
.halaman-utama-after-login .yes-iwould-like-to-receive-offers-and-email-from-gilijet-com {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 0.977;
  color: #FFFFFF;
}
.halaman-utama-after-login .group-34 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-33 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_1241.png') 50% / cover no-repeat;
  position: relative;
  margin: 0 0 65px 3px;
  display: flex;
  flex-direction: column;
  padding: 72px 0 72px 64px;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-97 {
  position: absolute;
  left: 0px;
  top: 433.5px;
  width: 1440px;
  height: 159px;
}
.halaman-utama-after-login .rectangle-96 {
  position: absolute;
  left: 50%;
  top: 456.5px;
  translate: -50% 0;
  width: 1440px;
  height: 162px;
}
.halaman-utama-after-login .rectangle-95 {
  position: absolute;
  left: 50%;
  top: 470.5px;
  translate: -50% 0;
  width: 1440px;
  height: 148px;
}
.halaman-utama-after-login .logo-1 {
  position: relative;
  margin: 0 0 50px 7.9px;
  width: 209.9px;
  height: 133px;
}
.halaman-utama-after-login .let-journey-begin-with-gilijet-1 {
  position: relative;
  margin: 0 0 25px 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.halaman-utama-after-login .contact-us {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.halaman-utama-after-login .button {
  border-radius: 30px;
  background: #103BE9;
  position: relative;
  margin: 0 0 36px 9px;
  display: flex;
  padding: 15.5px 0;
  width: 203px;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-308 {
  width: 8.7px;
  height: 16px;
}
.halaman-utama-after-login .social {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  margin-right: 16px;
  display: flex;
  padding: 4px 7.3px 4px 8px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .instagram {
  width: 16.1px;
  height: 16.1px;
}
.halaman-utama-after-login .social-1 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 4px 3.9px 3.9px 4px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .frame-12 {
  position: relative;
  margin: 0 0 124.5px 8px;
  display: flex;
  flex-direction: row;
  width: 64px;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-309 {
  width: 6.6px;
  height: 15.1px;
}
.halaman-utama-after-login .arrows {
  position: relative;
  margin-bottom: 7px;
  display: flex;
  align-self: flex-end;
  padding: 13.2px 8.5px 12.2px 8.5px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.halaman-utama-after-login .all-rights-reserved {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: var(--cold-greywhite, #FFFFFF);
}
.halaman-utama-after-login .copyright {
  position: relative;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.halaman-utama-after-login .footer-30 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 87px 40px 20.1px 32px;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .rectangle-17 {
  mix-blend-mode: multiply;
  border-radius: 10px;
  background: linear-gradient(97.31deg, #103BE9 0.5%, rgba(16, 59, 233, 0) 77.7%);
  position: absolute;
  top: 134px;
  right: 71px;
  width: 356px;
  height: 316px;
}
.halaman-utama-after-login .layer-14 {
  width: 34.6px;
  height: 10.9px;
}
.halaman-utama-after-login .boat-icon-24-px {
  margin: 6px 8.5px 5.1px 0;
  display: flex;
  width: 37.3px;
  height: 37.3px;
  box-sizing: border-box;
}
.halaman-utama-after-login .boat-trip {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18.4px;
  color: #FFFFFF;
}
.halaman-utama-after-login .group-1 {
  position: relative;
  margin: 0 125.4px 22.2px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .find-the-best-deals-on-boat-for-your-trip {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
  line-height: 0.977;
  color: #FFFFFF;
}
.halaman-utama-after-login .container-6 {
  border-radius: 292px;
  background: url('../assets/images/ellipse_3.png');
  position: relative;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 584px;
}
.halaman-utama-after-login .vector-304 {
  width: 17.7px;
  height: 20.5px;
}
.halaman-utama-after-login .location {
  position: absolute;
  left: 15.1px;
  bottom: 26.8px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .from {
  margin-right: 9px;
  width: 39px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .to {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .container-10 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 354.4px;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-1 {
  background: #F2F2F2;
  position: absolute;
  left: 50%;
  bottom: 0.5px;
  translate: -50% 0;
  width: 0px;
  height: 72.5px;
}
.halaman-utama-after-login .pelabuhan-ketapang-kt {
  margin: 11px 9px 10px 0;
  display: inline-block;
  width: 171px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.halaman-utama-after-login .switch-vertical {
  width: 24px;
  height: 24px;
}
.halaman-utama-after-login .group-3 {
  border-radius: 19.5px;
  background: #103BE9;
  position: relative;
  display: flex;
  padding: 8px 8px 7px 7px;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
}
.halaman-utama-after-login .gilimanuk-gm {
  margin: 11px 0 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.halaman-utama-after-login .container-13 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 446px;
  height: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-2 {
  border-radius: 10px;
  border: 2px solid #F2F2F2;
  position: relative;
  padding: 17px 45px 18px 45px;
  width: 628px;
  height: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .vector-305 {
  width: 17.7px;
  height: 20.5px;
}
.halaman-utama-after-login .location-1 {
  position: absolute;
  top: 50%;
  right: 256.1px;
  translate: 0 -50%;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-3 {
  position: relative;
  display: flex;
  width: 628px;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-17 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 628px;
  height: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-7 {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  width: 628px;
  box-sizing: border-box;
}
.halaman-utama-after-login .departure {
  margin-right: 9px;
  width: 70px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .pessangers {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-3, #828282);
}
.halaman-utama-after-login .container-26 {
  margin: 0 12px 12px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 302.1px;
  box-sizing: border-box;
}
.halaman-utama-after-login .calendar-add-1 {
  width: 24px;
  height: 24px;
}
.halaman-utama-after-login .calendar-add {
  margin-right: 9px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .tue-10-oct-2023 {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.halaman-utama-after-login .group-4 {
  border-radius: 10px;
  border: 2px solid #F2F2F2;
  position: relative;
  margin-right: 11px;
  display: flex;
  flex-direction: row;
  padding: 25px 0 25px 12px;
  width: 208px;
  box-sizing: border-box;
}
.halaman-utama-after-login .people-1 {
  width: 24px;
  height: 24px;
}
.halaman-utama-after-login .people {
  margin-right: 9px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .passangers {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.halaman-utama-after-login .container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.halaman-utama-after-login .path {
  border-radius: 2px;
  width: 12px;
  height: 6px;
}
.halaman-utama-after-login .chevron-down-alt {
  background: #FFFFFF;
  display: flex;
  padding: 9px 6px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-5 {
  border-radius: 10px;
  border: 2px solid #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 8px 24px 13px;
  width: 208px;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-24 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .group-8 {
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.halaman-utama-after-login .search-normal-1 {
  width: 24px;
  height: 24px;
}
.halaman-utama-after-login .search-normal {
  margin-right: 17.6px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.halaman-utama-after-login .search {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.halaman-utama-after-login .frame-3 {
  border-radius: 44.1px;
  background: #103BE9;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  width: 188px;
  height: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-4 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.halaman-utama-after-login .container-25 {
  margin: 172px 0 180px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.halaman-utama-after-login .container {
  position: absolute;
  left: -157px;
  bottom: -134px;
  display: flex;
  flex-direction: row;
  width: 1244px;
  height: 584px;
  box-sizing: border-box;
}
.halaman-utama-after-login .mask-group {
  box-shadow: var(--shadow, 0px 0px 25px 0px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  width: 1116px;
  height: 316px;
}
.halaman-utama-after-login .group-6 {
  position: absolute;
  left: 50%;
  top: 477px;
  translate: -50% 0;
  display: flex;
  width: 1116px;
  height: 316px;
  box-sizing: border-box;
}
.halaman-utama-after-login .frame-47 {
  border-radius: 44.1px;
  background: #F2F2F2;
  width: 212px;
  height: 60px;
}
.halaman-utama-after-login .group-191 {
  border-radius: 44.1px;
  position: absolute;
  right: 162px;
  bottom: 2193px;
  display: flex;
  width: 212px;
  height: 60px;
  box-sizing: border-box;
}
.halaman-utama-after-login {
  background: #F9F9F9;
  display: flex;
  padding-bottom: 0.4px;
  width: 1440px;
  box-sizing: border-box;
}
