.order-list-order-list .logo {
  width: 88.4px;
  height: 56px;
  margin-left: 162px;
}
.order-list-order-list .en {
  margin-right: 15px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
.order-list-order-list .path {
  border-radius: 2px;
  width: 12px;
  height: 6px;
}
.order-list-order-list .chevron-down-alt {
  margin: 9px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.order-list-order-list .group-39 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .help-contact {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  width: 143px;
}
.order-list-order-list .container-15 {
  margin-top: 16px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 242.8px;
  height: fit-content;
  box-sizing: border-box;
  margin-left: 830px;
  margin-right: 162px;
}
.order-list-order-list .container-13 {
  background: #103BE9;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 29px 0 27px 0;
  width: 1440px;
  box-sizing: border-box;
}
.order-list-order-list .path-1 {
  border-radius: 2.9px;
  width: 17.5px;
  height: 8.8px;
}
.order-list-order-list .chevron-down-alt-1 {
  margin: 0px 0 0px 23px;
  display: flex;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transform: rotate(270deg);
}
.order-list-order-list .back-to-home {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #BDBDBD;
  width: 200px;
  margin-top: 7px;
}
.order-list-order-list .group-57 {
  margin: 0 13.1px 53px 13.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 218px;
  box-sizing: border-box;
}
.order-list-order-list .your-order {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.order-list-order-list .october-122023 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #7D868C;
}
.order-list-order-list .booking-code {
  margin-right: 19.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #000000;
}
.order-list-order-list .glj-72691 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 25px;
  color: #103BE9;
}
.order-list-order-list .group-96 {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .active {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 35px;
}
.order-list-order-list .frame-4 {
  border-radius: 44.1px;
  background: #00AEEF;
  margin-right: 29px;
  display: flex;
  padding: 18px 0.9px 18px 0;
  width: 130px;
  box-sizing: border-box;
}
.order-list-order-list .success {
  margin: 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #103BE9;
}
.order-list-order-list .container-10 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .container-3 {
  border-radius: 15px;
  background: #E1E7FF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 56.9px 131px 39px;
  width: 1062px;
  height: fit-content;
  box-sizing: border-box;
}
.order-list-order-list .total-harga {
  margin-bottom: 14px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #7D868C;
}
.order-list-order-list .layer-1 {
  width: 46.4px;
  height: 14.6px;
}
.order-list-order-list .boat-icon-24-px {
  margin: 7.8px 15.5px 0 0;
  display: flex;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.order-list-order-list .pelabuhan-katapang-kt-gilimanuk-gm {
  margin-bottom: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #7D868C;
}
.order-list-order-list .container {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .rp-215000 {
  margin-bottom: 3.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 27.1px;
  color: #103BE9;
}
.order-list-order-list .container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 959.9px;
  box-sizing: border-box;
}
.order-list-order-list .group-97 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.order-list-order-list .objects {
  position: absolute;
  top: -1.7px;
  right: -4.5px;
  width: 60px;
  height: 45.6px;
}
.order-list-order-list .frame {
  position: relative;
  margin-right: 13.4px;
  width: 55.5px;
  height: 50.9px;
}
.order-list-order-list .gilijet-express {
  margin: 9.5px 0 8.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27.1px;
  color: #000000;
}
.order-list-order-list .group-58 {
  position: absolute;
  left: 39px;
  top: 22px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .container-9 {
  border-radius: 15px;
  border: 1px solid #E1E7FF;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  padding: 38px 56px 29.7px 46.1px;
  box-sizing: border-box;
  top: 80px;
}
.order-list-order-list .group-95 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  padding-bottom: 17px;
  width: 1062px;
  box-sizing: border-box;
}
.order-list-order-list .september-302023 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #7D868C;
}
.order-list-order-list .booking-code-1 {
  margin-right: 19.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #BDBDBD;
}
.order-list-order-list .m-5-u-50-ml {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 25px;
  color: #BDBDBD;
}
.order-list-order-list .group-962 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .success-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #BDBDBD;
}
.order-list-order-list .container-7 {
  border-radius: 15px;
  background: #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 27px 56.9px 146px 39px;
  width: 1062px;
  height: fit-content;
  box-sizing: border-box;
}
.order-list-order-list .total-harga-1 {
  margin-bottom: 14px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #D1D3D3;
}
.order-list-order-list .layer-11 {
  width: 46.4px;
  height: 14.6px;
}
.order-list-order-list .boat-icon-24-px-1 {
  margin: 7.8px 15.5px 0 0;
  display: flex;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.order-list-order-list .pelabuhan-katapang-kt-gilimanuk-gm-1 {
  margin-bottom: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #D9D9D9;
}
.order-list-order-list .container-14 {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .rp-2150001 {
  margin-bottom: 3.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 27.1px;
  color: #BDBDBD;
}
.order-list-order-list .container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 959.9px;
  box-sizing: border-box;
}
.order-list-order-list .group-971 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.order-list-order-list .objects-1 {
  position: absolute;
  top: -1.7px;
  right: -4.5px;
  width: 60px;
  height: 45.6px;
}
.order-list-order-list .frame-1 {
  opacity: 0.5;
  position: relative;
  margin-right: 13.4px;
  width: 55.5px;
  height: 50.9px;
}
.order-list-order-list .gilijet-express-1 {
  margin: 9.5px 0 8.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27.1px;
  color: #D1D3D3;
}
.order-list-order-list .group-581 {
  position: absolute;
  left: 39px;
  top: 22px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .container-4 {
  border-radius: 15px;
  border: 1px solid #E1E7FF;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  padding: 38px 56px 29.7px 46.1px;
  box-sizing: border-box;
  top: 80px;
}
.order-list-order-list .group-961 {
  position: relative;
  display: flex;
  padding-bottom: 17px;
  width: 1062px;
  box-sizing: border-box;
}
.order-list-order-list .group-98 {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.order-list-order-list .september-22023 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #7D868C;
}
.order-list-order-list .booking-code-2 {
  margin-right: 19.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #BDBDBD;
}
.order-list-order-list .dn-5-cj-8 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 25px;
  color: #BDBDBD;
}
.order-list-order-list .group-964 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .success-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #BDBDBD;
}
.order-list-order-list .container-6 {
  border-radius: 15px;
  background: #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 27px 56.9px 146px 39px;
  width: 1062px;
  height: fit-content;
  box-sizing: border-box;
}
.order-list-order-list .total-harga-2 {
  margin-bottom: 14px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #D1D3D3;
}
.order-list-order-list .layer-12 {
  width: 46.4px;
  height: 14.6px;
}
.order-list-order-list .boat-icon-24-px-2 {
  margin: 7.8px 15.5px 0 0;
  display: flex;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.order-list-order-list .pelabuhan-katapang-kt-gilimanuk-gm-2 {
  margin-bottom: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #D9D9D9;
}
.order-list-order-list .container-12 {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .rp-2150002 {
  margin-bottom: 3.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 27.1px;
  color: #BDBDBD;
}
.order-list-order-list .container-8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 959.9px;
  box-sizing: border-box;
}
.order-list-order-list .group-972 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.order-list-order-list .objects-2 {
  position: absolute;
  top: -1.7px;
  right: -4.5px;
  width: 60px;
  height: 45.6px;
}
.order-list-order-list .frame-2 {
  opacity: 0.5;
  position: relative;
  margin-right: 13.4px;
  width: 55.5px;
  height: 50.9px;
}
.order-list-order-list .gilijet-express-2 {
  margin: 9.5px 0 8.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27.1px;
  color: #D1D3D3;
}
.order-list-order-list .group-582 {
  position: absolute;
  left: 39px;
  top: 22px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.order-list-order-list .container-5 {
  border-radius: 15px;
  border: 1px solid #E1E7FF;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  padding: 38px 56px 29.7px 46.1px;
  box-sizing: border-box;
  top: 80px;
}
.order-list-order-list .group-963 {
  position: relative;
  display: flex;
  padding-bottom: 17px;
  width: 1062px;
  box-sizing: border-box;
}
.order-list-order-list .group-99 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.order-list-order-list .group-56 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 41px 31px 337px 23px;
  width: fit-content;
  box-sizing: border-box;
}
.order-list-order-list .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.order-list-order-list .rectangle-97 {
  position: absolute;
  left: 0px;
  top: 95.5px;
  width: 1440px;
  height: 159px;
}
.order-list-order-list .rectangle-96 {
  position: absolute;
  left: 50%;
  top: 118.5px;
  translate: -50% 0;
  width: 1440px;
  height: 162px;
}
.order-list-order-list .rectangle-95 {
  position: absolute;
  left: 50%;
  top: 132.5px;
  translate: -50% 0;
  width: 1440px;
  height: 148px;
}
.order-list-order-list .logo-1 {
  position: relative;
  margin: 0 0 43px 0px;
  align-self: center;
  width: 209.9px;
  height: 133px;
}
.order-list-order-list .all-rights-reserved {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: var(--cold-greywhite, #FFFFFF);
}
.order-list-order-list .copyright {
  margin-top: 4.5px;
  display: flex;
  box-sizing: border-box;
}
.order-list-order-list .let-journey-begin-with-gilijet {
  margin-bottom: 2.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 609px;
  padding-left: 0px;
  position: absolute;
  width: 184px;
  height: 16px;
  right: 0px;
  left: 0px;
}
.order-list-order-list .container-16 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 779.7px;
  box-sizing: border-box;
}
.order-list-order-list .footer-30 {
  background: #103BE9;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  padding: 66px 0 20.5px 32px;
  width: 1440px;
  box-sizing: border-box;
  top: 1215px;
  right: 0px;
  left: 719px;
  padding-bottom: 0px;
  height: 281px;
}
.order-list-order-list {
  background: #F9F9F9;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
