.payment-1 .logo {
  width: 88.4px;
  height: 56px;
}
.payment-1 .en {
  margin-right: 15px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
.payment-1 .path {
  border-radius: 2px;
  width: 12px;
  height: 6px;
}
.payment-1 .chevron-down-alt {
  margin: 9px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.payment-1 .group-39 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.payment-1 .help-contact {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.payment-1 .container-6 {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 242.8px;
  height: fit-content;
  box-sizing: border-box;
}
.payment-1 .group-40 {
  margin: 0 0.2px 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1116px;
  box-sizing: border-box;
}
.payment-1 .path-3 {
  border-radius: 2px;
  width: 12px;
  height: 6px;
}
.payment-1 .chevron-down-alt-1 {
  margin: 0 0 28px 271px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.payment-1 .vector-5 {
  background: #BDBDBD;
  margin: 0 43.2px 17px 34.7px;
  width: 848.5px;
  height: 0px;
}
.payment-1 .customer {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
.payment-1 .group-42 {
  display: flex;
  box-sizing: border-box;
}
.payment-1 .trip-details {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
.payment-1 .group-43 {
  display: flex;
  box-sizing: border-box;
}
.payment-1 .payment-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
.payment-1 .group-44 {
  display: flex;
  box-sizing: border-box;
}
.payment-1 .confirmation {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  color: #D1D3D3;
}
.payment-1 .group-45 {
  display: flex;
  box-sizing: border-box;
}
.payment-1 .container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 926.4px;
  box-sizing: border-box;
}
.payment-1 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 926.4px;
  height: fit-content;
  box-sizing: border-box;
}
.payment-1 .vector-6 {
  background: #00AEEF;
  position: absolute;
  left: 135px;
  bottom: 42px;
  width: 565px;
  height: 0px;
}
.payment-1 .path-1 {
  border-radius: 2px;
  width: 10px;
  height: 7px;
}
.payment-1 .check-alt {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.payment-1 .group-41 {
  border-radius: 16px;
  background: #00AEEF;
  position: absolute;
  left: 119px;
  bottom: 28px;
  display: flex;
  padding: 13px 11px 12px 11px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.payment-1 .path-2 {
  border-radius: 2px;
  width: 10px;
  height: 7px;
}
.payment-1 .check-alt-1 {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.payment-1 .group-411 {
  border-radius: 16px;
  background: #00AEEF;
  position: absolute;
  left: 401px;
  bottom: 28px;
  display: flex;
  padding: 13px 11px 12px 11px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.payment-1 .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
}
.payment-1 .group-412 {
  border-radius: 16px;
  background: #00AEEF;
  position: absolute;
  right: 401px;
  bottom: 28px;
  display: flex;
  padding: 7px 11.1px;
  box-sizing: border-box;
}
.payment-1 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  color: #BDBDBD;
}
.payment-1 .group-413 {
  border-radius: 16px;
  background: #FFFFFF;
  position: absolute;
  right: 119px;
  bottom: 28px;
  display: flex;
  padding: 7px 11px;
  box-sizing: border-box;
}
.payment-1 .group-46 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 15px 89.3px 7px 100.3px;
  width: 1116px;
  box-sizing: border-box;
}
.payment-1 .container-2 {
  background: #103BE9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 0 40px 0;
  width: 1440px;
  box-sizing: border-box;
}
.payment-1 .rectangle-104 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1116px;
  height: 188px;
}
.payment-1 .booking-code {
  margin: 0 7.5px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.payment-1 .glj-72691 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 45px;
  color: #FFFFFF;
}
.payment-1 .group-67 {
  position: relative;
  margin: 2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.payment-1 .gilijet-express-1-passangers {
  margin-bottom: 18px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24.1px;
  color: #FFFFFF;
}
.gilijet-express-1-passangers-sub4 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24.1px;
  line-height: 1.333;
}
.payment-1 .idr-215000 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24.1px;
  color: #FFFFFF;
}
.payment-1 .group-68 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.payment-1 .container-7 {
  background: #00AEEF;
  position: relative;
  margin-bottom: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 52.7px 43px 54px;
  width: 1116px;
  box-sizing: border-box;
}
.payment-1 .payment-2 {
  margin: 0 53px 19px 53px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.payment-1 .choose-apayment-method-that-makes-it-easy {
  margin: 0 54px 69px 54px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #BDBDBD;
}
.payment-1 .image-2 {
  background: url('../assets/images/image_2.png') 50% / cover no-repeat;
  width: 179.3px;
  height: 47.5px;
}
.payment-1 .group-61 {
  border-radius: 10px;
  border: 1px solid #103BE9;
  background: #E1E7FF;
  position: relative;
  display: flex;
  padding: 44px 0 45.5px 1px;
  width: 233px;
  height: 137px;
  box-sizing: border-box;
}
.payment-1 .image-3 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  width: 143px;
  height: 88.9px;
}
.payment-1 .group-62 {
  border-radius: 10px;
  border: 1px solid #D1D3D3;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 24px 0 24.1px 0;
  width: 233px;
  height: 137px;
  box-sizing: border-box;
}
.payment-1 .image-4 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  width: 169.8px;
  height: 55px;
}
.payment-1 .group-63 {
  border-radius: 10px;
  border: 1px solid #D1D3D3;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 41px 0 41px 0.8px;
  width: 233px;
  height: 137px;
  box-sizing: border-box;
}
.payment-1 .image-5 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  width: 206px;
  height: 44.9px;
}
.payment-1 .group-64 {
  border-radius: 10px;
  border: 1px solid #D1D3D3;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 46px 14px 46px 13px;
  width: 233px;
  height: 137px;
  box-sizing: border-box;
}
.payment-1 .container-5 {
  margin: 0 52px 54px 54px;
  display: flex;
  flex-direction: row;
  column-gap: 26px;
  width: 1010px;
  box-sizing: border-box;
}
.payment-1 .you-chose-paypal-for-your-payment {
  margin: 0 55px 30px 55px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.payment-1 .email {
  margin-bottom: 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #BDBDBD;
}
.payment-1 .irfandigitalgmail-com {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.payment-1 .group-49 {
  border-radius: 15px;
  background: #F2F2F2;
  position: relative;
  padding: 24px 16px 25px 16px;
  width: fit-content;
  box-sizing: border-box;
}
.payment-1 .group-57 {
  border-radius: 15px;
  margin: 0 72px 25px 55px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.payment-1 .password {
  margin-bottom: 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #BDBDBD;
}
.payment-1 .container-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.payment-1 .group-491 {
  border-radius: 15px;
  background: #F2F2F2;
  position: relative;
  padding: 24px 16px 25px 16px;
  width: fit-content;
  box-sizing: border-box;
}
.payment-1 .group-65 {
  border-radius: 15px;
  margin: 0 72px 47px 55px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.payment-1 .login {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.payment-1 .frame-6 {
  border-radius: 44.1px;
  background: #103BE9;
  margin: 0 29px 1px 0;
  display: flex;
  padding: 25px 0.2px 25px 0;
  width: 198px;
  height: fit-content;
  box-sizing: border-box;
}
.payment-1 .spinner-sharp-spinner-sharp-2 {
  width: 75px;
  height: 75px;
}
.payment-1 .container-1 {
  margin: 0 55px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 302px;
  box-sizing: border-box;
}
.payment-1 .container-8 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 54px;
  box-sizing: border-box;
}
.payment-1 .vector-7 {
  background: #D1D3D3;
  position: absolute;
  left: 50%;
  top: 342px;
  translate: -50% 0;
  width: 1117px;
  height: 0px;
}
.payment-1 .vector-8 {
  background: #D1D3D3;
  position: absolute;
  left: 50%;
  top: 188px;
  translate: -50% 0;
  width: 1117px;
  height: 0px;
}
.payment-1 .group-56 {
  position: relative;
  margin: 0 0 59px 1px;
  display: flex;
  padding-right: 1px;
  box-sizing: border-box;
}
.payment-1 .previous {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.payment-1 .frame-5 {
  border-radius: 44.1px;
  background: #BDBDBD;
  margin-right: 38px;
  display: flex;
  padding: 25px 0px 25px 0;
  width: 475px;
  box-sizing: border-box;
}
.payment-1 .continue {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.payment-1 .frame-4 {
  border-radius: 44.1px;
  background: #103BE9;
  display: flex;
  padding: 25px 0.8px 25px 0;
  width: 475px;
  box-sizing: border-box;
}
.payment-1 .group-66 {
  border-radius: 44.1px;
  margin: 0 16px 28px 0;
  display: flex;
  flex-direction: row;
  width: 988px;
  box-sizing: border-box;
}
.payment-1 .rectangle-97 {
  position: absolute;
  left: 0px;
  top: 95.5px;
  width: 1440px;
  height: 159px;
}
.payment-1 .rectangle-96 {
  position: absolute;
  left: 50%;
  top: 118.5px;
  translate: -50% 0;
  width: 1440px;
  height: 162px;
}
.payment-1 .rectangle-95 {
  position: absolute;
  left: 50%;
  top: 132.5px;
  translate: -50% 0;
  width: 1440px;
  height: 148px;
}
.payment-1 .logo-1 {
  position: relative;
  margin: 0 0 43px 583px;
  align-self: center;
  width: 209.9px;
  height: 133px;
}
.payment-1 .all-rights-reserved {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: var(--cold-greywhite, #FFFFFF);
}
.payment-1 .copyright {
  margin-top: 4.5px;
  display: flex;
  box-sizing: border-box;
}
.payment-1 .let-journey-begin-with-gilijet {
  margin-bottom: 2.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.payment-1 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 779.7px;
  box-sizing: border-box;
}
.payment-1 .footer-30 {
  background: #103BE9;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 66px 0 20.5px 32px;
  width: 1440px;
  box-sizing: border-box;
}
.payment {
  background: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
